<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoft.mapping.FlightInfo">
    <select id="findAllFilghtInfo" resultType="map">
        select * from flightinfo
    </select>
    <select id="findFlightInfoById" resultType="map">
        select * from flightinfo where flightid=#{id}
    </select>
</mapper>