<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoft.mapping.User">
    <select id="login" parameterType="map" resultType="map">
        select * from user_inf where username=#{uname} and password=#{upwd}
    </select>
    <insert id="register" parameterType="map">
    insert into user_inf(username,`password`,email,register_time,status)
    values(#{uname},#{upwd},#{email},now(),0)
</insert>
</mapper>